@model Nop.Plugin.Widgets.Tip.Models.PublicInfoModel
@{
    Layout = "";

    //Html.AddScriptParts("~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    //Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    //Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/default/default.css");
    Html.AddCssFileParts("~/Plugins/Widgets.Tip/Content/message-tip.css");
}
@using System
@using Nop.Web.Framework.UI

<div class="message-tip">
    @Model.Message
</div>
